@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

h2 {
  font-size: var(h2);
  color: var(--blue-gray);
}
.subtitle {
  font-size: 2rem;
  color: var(---blue-gray);
}

.title {
  font-size: 3rem;
  color: var(--blue-gray);
}

a {
  color: var(--pink-gray);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--ivory);
  }
}

/* Responsive styles */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
